 <!-- Footer -->


 <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                <p class="text-center copyright-text">AML Central - Powered by Blockchain Worx, Singapore</p>
                </div>
            </div>
        </div>
        </footer>   
        <!-- Footer -->