<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <title>Transactions | Banking</title> -->
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./js/select2/css/select2.min.css" />
        <link rel="stylesheet" type="text/css" href="./js/scrollbar/jquery.scrollbar.css" />
        <link rel="stylesheet" type="text/css" href="./css/site.css" />
</head>


      <!-- Scripts -->
  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/select2/js/select2.min.js"></script>
  <script src="js/scrollbar/jquery.scrollbar.min.js"></script>
  <script src="js/custom-file-input.js"></script>
  <script src="js/main.js"></script>
  <!-- Scripts -->