
<title>AML Central | Forgot password</title>
<%- include('./partials/scripts') -%>

<body>

    <!-- Site Container -->
    <div id="site-container">
       
       <!-- Login Area -->
        <div class="login-area">
        
        <!-- Login Sidebar -->
        <aside class="login-area-sidebar hidden-xs">
        <div class="login-sidebar-header">
        <h2 class="login-sidebar-heading">Welcome</h2>
        <p class="login-sidebar-text">Enter Details to control your <br>banking Activities</p>
        </div>
        <div class="login-sidebar-footer">
        <a href="#" class="sidebar-footer-text">Learn More</a>
        </div>
        </aside>
        <!-- Login Sidebar -->
        
        <!-- Login Main -->
        <main class="login-area-main">
        <div class="login-main-header text-right">
        <p class="header-text">Don't have an account?</p>
        <a href="signUp" class="primary-btn is-ghost-btn is-rounded">Signup</a>
        </div>
        <div class="login-main-content">
        <h1 class="form-heading">Forgot Your Password ?</h1>
        
        <div class="form login-form">
            <div class="form-group">
            <label class="form-group-label">Email address</label>
            <input type="email" class="form-control" placeholder="example@gmail.com" />
            </div>
            <div class="form-group form-group-submit">
            <button type="submit" class="primary-btn submit-btn">Recover your password</button>
            </div>
        </div>
        
        </div>
        </main>
        <!-- Login Main -->
        
        </div>
        <!-- Login Area -->
        
    </div>
    <!-- Site Container -->
    <%- include('./partials/footer') -%>
</body>

</html>