
<title>AML Central | Logout</title>
<%- include('./partials/scripts') -%>

<body>

    <!-- Site Container -->
    <div id="site-container">

        <!-- Dashboard Area -->
        <div class="dashboard-area">

            <!-- Dashboard Header -->
            <header class="dashboard-header hide">
                <div class="container">
                    <div class="row">

                        <!-- Logo -->
                        <div class="logo col-md-2 col-xs-5">
                            <a href="dashboard"><strong>AML</strong> Central</a>
                        </div>
                        <!-- Logo -->

                        <!--Main Navigation -->
                        <nav id="main-navigation" class="col-md-4 hidden-xs hidden-sm">
                            <ul class="list-inline">
                                <li><a href="dashboard"><i class="nav-icon dashboard-icon"></i>Dashboard</a></li>
                                <li><a href="transactions.html"><i class="nav-icon money-transfer-icon"></i>Transactions</a></li>
                            </ul>
                        </nav>
                        <!--Main Navigation -->

                        <!-- User Panel -->
                        <div class="col-md-6 col-xs-7">
                            <ul class="user-panel">
                                <li class="username user-panel-item has-nav-dropdown"><strong>Hello,</strong> Nishant <img class="user-img hidden-xs" src="assets/images/user-img.png" alt="User Image" />
                                    <div class="nav-dropdown">
                                        <ul>
                                            <li><a href="dashboard">Dashboard</a></li>
                                            <li><a href="transactions.html">Transactions</a></li>
                                            <li><a>Notifications</a></li>
                                            <li><a href="logout">Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="notifications user-panel-item hidden-xs hidden-sm"><img width="25" src="assets/images/notification-icon.svg" alt="Icon" /><span class="unread-icon"></span></li>
                                <li class="logout user-panel-item hidden-xs hidden-sm">Logout <img width="50" src="assets/images/logout-icon.svg" alt="Icon" /></li>
                            </ul>
                        </div>
                        <!-- User Panel -->

                    </div>
                </div>
            </header>
            <!-- Dashboard Header -->

            <!-- Dashboard Main -->
            <main class="dashboard-main">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dashboard-card transfer-successful-content full-view-card" style="height: calc(100vh - 100px)">
                               <div class="wrap text-center">
                                <h1 class="dashboard-card-heading big-heading marB30">You have been successfully Logged Out.</h1>
                                <a href="signIn">Click here to go back to Login Page.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Dashboard Main -->



        </div>
        <!-- Dashboard Area -->

    </div>
    <!-- Site Container -->

    <!-- Scripts -->
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/select2/js/select2.min.js"></script>
    <script src="js/custom-file-input.js"></script>
    <script src="js/main.js"></script>
    <!-- Scripts -->
    <%- include('./partials/footer') -%>
</body>

</html>