<title>AML Central | Dashboard</title>

<%- include('./partials/scripts') -%>

<body>

    <!-- Site Container -->
    <div id="site-container">

        <!-- Dashboard Area -->
        <div class="dashboard-area">

            <!-- Dashboard Header -->
            <%- include('./partials/header') -%>
            <!-- Dashboard Header -->

            <!-- Dashboard Main -->
            <main class="dashboard-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="dashboard-main-heading">Dashboard</h1>
                            <p class="dashboard-main-tagline">You are in the main panel</p>
                            <a href="#" class="primary-btn dashboard-main-btn is-small hide">+ <span class="hidden-xs"> Add Modules</span></a>
                        </div>
                        <div class="col-md-12">
                            <div class="dashboard-card summary-card">
                                <div class="dashboard-card-header">
                                    <h2 class="dashboard-card-heading">Blockchain Statistics</h2>
                                    <div class="dashboard-card-filter">
                                        <h6 class="filter-heading">Period</h6>
                                        <select class="form-control theme-selectbox">
            <option value="Last Week">Last Week</option>
            <option value="Last Month">Last Month</option>
            <option value="Last Year">Last Year</option>
            </select>
                                    </div>
                                </div>
                                <div class="dashboard-card-content">

                                    <!-- Dashboard Card Tabs -->
                                    <ul class="dashboard-card-tabs has-popup-trigger">
                                        <li class="tab-item primary-btn">
                                            <span class="tab-item-icon"><img width="40" src="images/play-icon.svg" alt="Node Status Icon" /></span>
                                            <h5 class="tab-item-heading">Node Status</h5>
                                            <strong class="tab-item-val">Running</strong>
                                        </li>
                                        <li class="tab-item primary-btn">
                                            <span class="tab-item-icon"><img width="50" src="images/users-icon.svg" alt="Users Icon" /></span>
                                            <h5 class="tab-item-heading">Peers</h5>
                                            <strong class="tab-item-val">6</strong>
                                        </li>
                                        <li class="tab-item primary-btn popup-trigger" data-popup="blocksPopup">
                                            <span class="tab-item-icon"><img width="40" src="images/blocks-icon.svg" alt="Blocks Icon" /></span>
                                            <h5 class="tab-item-heading">Blocks</h5>
                                            <strong class="tab-item-val">202</strong>
                                        </li>
                                        <li class="tab-item primary-btn popup-trigger" data-popup="queuedTxnsPopup">
                                            <span class="tab-item-icon"><img width="40" src="images/queued-transactions-icon.svg" alt="Queued Txns Icon" /></span>
                                            <h5 class="tab-item-heading">Queued Txns</h5>
                                            <strong class="tab-item-val">2</strong>
                                        </li>
                                    </ul>
                                    <!-- Dashboard Card Tabs -->

                                    <img src="images/chart-img.jpg" alt="Chart" />
                                </div>
                            </div>

                            <div class="dashboard-card summary-card">
                                <div class="dashboard-card-header">
                                    <h2 class="dashboard-card-heading">Transactions Summary</h2>
                                    <div class="dashboard-card-filter">
                                        <h6 class="filter-heading">Period</h6>
                                        <select class="form-control theme-selectbox">
            <option value="Last Week">Last Week</option>
            <option value="Last Month">Last Month</option>
            <option value="Last Year">Last Year</option>
            </select>
                                    </div>
                                </div>
                                <div class="dashboard-card-content">
                                    <img src="images/dashboard-summary-chart.png" alt="Chart" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="dashboard-card summary-card">
                                <div class="dashboard-card-header">
                                    <h2 class="dashboard-card-heading">Your Txns.</h2>
                                    <ul class="card-filter-list list-inline">
                                        <li>
                                            <div class="dashboard-card-filter">
                                                <h6 class="filter-heading">Period</h6>
                                                <select class="form-control theme-selectbox">
            <option value="Last Week">Last 2 Days</option>
            <option value="Last Month">Last 7 Days</option>
            <option value="Last Year">Last Month</option>
            </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dashboard-card-filter sort-by-filter">
                                                <h6 class="filter-heading">Sort By.</h6>
                                                <select class="form-control theme-selectbox">
            <option value="Bank1">Bank1</option>
            <option value="Bank2">Bank2</option>
            <option value="Bank3">Bank3</option>
            </select>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="dashboard-card-content">
                                    <ul class="dashboard-card-list">
                                        <li>
                                            <span class="card-list-icon" style="background: #ffb2b2">A</span>
                                            <span class="card-list-date">3:00 PM</span>
                                            <div class="card-list-content">
                                                <h6 class="card-list-heading">28, 000 PLN</h6>
                                                <p class="card-list-text">Ankita Transfer Order No. 47457</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="card-list-icon" style="background: #22b5d0">F</span>
                                            <span class="card-list-date">3:00 PM</span>
                                            <div class="card-list-content">
                                                <h6 class="card-list-heading">35, 000 PLN</h6>
                                                <p class="card-list-text">Foodie Transfer Order No. 47457</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="card-list-icon" style="background: #ffab8d">A</span>
                                            <span class="card-list-date">3:00 PM</span>
                                            <div class="card-list-content">
                                                <h6 class="card-list-heading">54, 000 PLN</h6>
                                                <p class="card-list-text">Arush Transfer Order No. 47457</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="card-list-icon" style="background: #ffccfe">T</span>
                                            <span class="card-list-date">3:00 PM</span>
                                            <div class="card-list-content">
                                                <h6 class="card-list-heading">75, 000 PLN</h6>
                                                <p class="card-list-text">Tim Transfer Order No. 47457</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="card-list-icon" style="background: #22b5d0">T</span>
                                            <span class="card-list-date">3:00 PM</span>
                                            <div class="card-list-content">
                                                <h6 class="card-list-heading">85, 000 PLN</h6>
                                                <p class="card-list-text">Taylor Transfer Order No. 47457</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="#" class="primary-btn full-width marT30">Show More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="dashboard-card summary-card">
                                <div class="dashboard-card-header">
                                    <h2 class="dashboard-card-heading">Your Incoming Alerts</h2>
                                </div>
                                <div class="dashboard-card-content">
                                    <ul class="dashboard-card-list theme2">
                                        <li>
                                            <span class="card-list-icon info-alert-icon has-bg"></span>
                                            <div class="card-list-content">
                                                <p class="card-list-text"><strong>Info Alert: </strong> Suspicious Transactions Detected on Regular Account.</p>
                                                <span class="card-list-date">just now</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="card-list-icon success-icon has-bg"></span>
                                            <div class="card-list-content">
                                                <p class="card-list-text"><strong>Success: </strong>You've Recorded transaction for $10000 from SWISS Eagle as RED.</p>
                                                <span class="card-list-date">2 Days ago</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="card-list-icon error-icon has-bg"></span>
                                            <div class="card-list-content">
                                                <p class="card-list-text"><strong>Error Alert: </strong> You have entered wrong password 2 times.</p>
                                                <span class="card-list-date">Last Week</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="card-list-icon info-alert-icon has-bg"></span>
                                            <div class="card-list-content">
                                                <p class="card-list-text"><strong>Info Alert: </strong> You've got Alert for Incoming Transaction.</p>
                                                <span class="card-list-date">just now</span>
                                            </div>
                                        </li>

                                    </ul>
                                    <a href="#" class="primary-btn full-width marT30">Show More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Dashboard Main -->

            <div class="fs-overlay"></div>

            <!-- Popups -->

            <!-- Blocks Popup -->
            <div class="blocksPopup site-popup fs-overlay-popup">
                <a class="site-popup-close">Close</a>
                <div class="site-popup-content">
                    <!-- Theme Table -->
                    <div class="theme-table-wrapper">
                        <table class="theme-table responsive-table">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Block Hash</th>
                                    <th>Transaction Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12/7/2017 09:58:12</td>
                                    <td><a>8334HSSOS932JHISSH38373</a></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>12/7/2017 09:58:12</td>
                                    <td><a>8334HSSOS932JHISSH38373</a></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>12/7/2017 09:58:12</td>
                                    <td><a>8334HSSOS932JHISSH38373</a></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>12/7/2017 09:58:12</td>
                                    <td><a>8334HSSOS932JHISSH38373</a></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>12/7/2017 09:58:12</td>
                                    <td><a>8334HSSOS932JHISSH38373</a></td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Theme Table -->
                </div>
            </div>
            <!-- Blocks Popup -->

            <!-- Queued Txns Popup -->
            <div class="queuedTxnsPopup site-popup fs-overlay-popup">
                <a class="site-popup-close">Close</a>
                <div class="site-popup-content">
                    <h5 class="form-popup-heading">Hash Transactions</h5>

                    <!-- Accordion -->
                    <div class="site-accordion">

                        <!--Accordion Block -->
                        <div class="accordion-block">
                            <div class="accordion-block-heading">8334HSSOS932JHISSH38373</div>
                            <div class="accordion-block-content">
                                <ul class="site-popup-list">
                                    <li class="row">
                                        <strong class="col-sm-6">Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block No:</strong>
                                        <span class="col-sm-6">3454</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">From:</strong>
                                        <span class="col-sm-6">Garry</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">To:</strong>
                                        <span class="col-sm-6">Kris</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Price:</strong>
                                        <span class="col-sm-6">$20</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas:</strong>
                                        <span class="col-sm-6">43000</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Used:</strong>
                                        <span class="col-sm-6">0</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">input:</strong>
                                        <span class="col-sm-6">000xw312322</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Accordion Block -->

                        <!--Accordion Block -->
                        <div class="accordion-block">
                            <div class="accordion-block-heading">8334HSSOS932JHISSH38373</div>
                            <div class="accordion-block-content">
                                <ul class="site-popup-list">
                                    <li class="row">
                                        <strong class="col-sm-6">Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block No:</strong>
                                        <span class="col-sm-6">3454</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">From:</strong>
                                        <span class="col-sm-6">Garry</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">To:</strong>
                                        <span class="col-sm-6">Kris</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Price:</strong>
                                        <span class="col-sm-6">$20</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas:</strong>
                                        <span class="col-sm-6">43000</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Used:</strong>
                                        <span class="col-sm-6">0</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">input:</strong>
                                        <span class="col-sm-6">000xw312322</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Accordion Block -->

                        <!--Accordion Block -->
                        <div class="accordion-block">
                            <div class="accordion-block-heading">8334HSSOS932JHISSH38373</div>
                            <div class="accordion-block-content">
                                <ul class="site-popup-list">
                                    <li class="row">
                                        <strong class="col-sm-6">Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block No:</strong>
                                        <span class="col-sm-6">3454</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">From:</strong>
                                        <span class="col-sm-6">Garry</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">To:</strong>
                                        <span class="col-sm-6">Kris</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Price:</strong>
                                        <span class="col-sm-6">$20</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas:</strong>
                                        <span class="col-sm-6">43000</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Used:</strong>
                                        <span class="col-sm-6">0</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">input:</strong>
                                        <span class="col-sm-6">000xw312322</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Accordion Block -->

                        <!--Accordion Block -->
                        <div class="accordion-block">
                            <div class="accordion-block-heading">8334HSSOS932JHISSH38373</div>
                            <div class="accordion-block-content">
                                <ul class="site-popup-list">
                                    <li class="row">
                                        <strong class="col-sm-6">Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block No:</strong>
                                        <span class="col-sm-6">3454</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">From:</strong>
                                        <span class="col-sm-6">Garry</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">To:</strong>
                                        <span class="col-sm-6">Kris</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Price:</strong>
                                        <span class="col-sm-6">$20</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas:</strong>
                                        <span class="col-sm-6">43000</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Used:</strong>
                                        <span class="col-sm-6">0</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">input:</strong>
                                        <span class="col-sm-6">000xw312322</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Accordion Block -->

                        <!--Accordion Block -->
                        <div class="accordion-block">
                            <div class="accordion-block-heading">8334HSSOS932JHISSH38373</div>
                            <div class="accordion-block-content">
                                <ul class="site-popup-list">
                                    <li class="row">
                                        <strong class="col-sm-6">Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block No:</strong>
                                        <span class="col-sm-6">3454</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">From:</strong>
                                        <span class="col-sm-6">Garry</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">To:</strong>
                                        <span class="col-sm-6">Kris</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Price:</strong>
                                        <span class="col-sm-6">$20</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas:</strong>
                                        <span class="col-sm-6">43000</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Used:</strong>
                                        <span class="col-sm-6">0</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">input:</strong>
                                        <span class="col-sm-6">000xw312322</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Accordion Block -->

                        <!--Accordion Block -->
                        <div class="accordion-block">
                            <div class="accordion-block-heading">8334HSSOS932JHISSH38373</div>
                            <div class="accordion-block-content">
                                <ul class="site-popup-list">
                                    <li class="row">
                                        <strong class="col-sm-6">Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block Hash:</strong>
                                        <span class="col-sm-6">8334HSSOS932JHISSH38373</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Block No:</strong>
                                        <span class="col-sm-6">3454</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">From:</strong>
                                        <span class="col-sm-6">Garry</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">To:</strong>
                                        <span class="col-sm-6">Kris</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Price:</strong>
                                        <span class="col-sm-6">$20</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas:</strong>
                                        <span class="col-sm-6">43000</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">Gas Used:</strong>
                                        <span class="col-sm-6">0</span>
                                    </li>
                                    <li class="row">
                                        <strong class="col-sm-6">input:</strong>
                                        <span class="col-sm-6">000xw312322</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Accordion Block -->

                    </div>
                    <!-- Accordion -->

                </div>
            </div>
            <!-- Queued Txns Popup -->


            <!-- Popups -->

        </div>
        <!-- Dashboard Area -->

    </div>
    <!-- Site Container -->

    <!-- Scripts -->
    <!-- Scripts -->
    <%- include('./partials/footer') -%>
</body>

</html>