
<title>AML Central | SignIn</title>
<%- include('./partials/scripts') -%>

<body>

    <!-- Site Container -->
    <div id="site-container">
       
       <!-- Login Area -->
        <div class="login-area">
        
        <!-- Login Sidebar -->
        <aside class="login-area-sidebar hidden-xs">
        <div class="login-sidebar-header">
        <h2 class="login-sidebar-heading">Welcome to AML Central</h2>
        <p class="login-sidebar-text">A next-gen platform for AML - Transaction Monitoring; powered by Blockchain technology</p>
        </div>
        <div class="login-sidebar-footer">
        <p class="sidebar-footer-text">Blockchain Worx , Singapore</p>
        </div>
        </aside>
        <!-- Login Sidebar -->
        
        <!-- Login Main -->
        <main class="login-area-main">
        <div class="login-main-header text-right">
        <p class="header-text">Don't have an account?</p>
        <a href="signUp" class="primary-btn is-ghost-btn is-rounded">Create Account Request</a>
        </div>
        <div class="login-main-content">
        <h1 class="form-heading">Sign in to AML Central</h1>
        <p class="form-description">Enter your details below.</p>
        <form method="post" id="signIn_form" action="/signIn">
            <div class="form login-form">
                <div class="form-group">
                        <% if (error.length > 0){ %>
                            
                            <div class="alert alert-danger"><%= error %></div>
                            
                             <% } %>
                             <% for(var i = 0; i < errors.length - 1; i++){ %>
                                <li> <%= errors[i].msg %> </li>
                              <% } %>
                <label class="form-group-label">Email address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="example@gmail.com" />
                </div>
                <div class="form-group">
                <label class="form-group-label clearfix">Password <a href="forgot-password" class="form-link pull-right">Forgot password</a></label>
                <input type="password" name="password" class="form-control" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
                </div>
                <div class="form-group form-group-submit">
                <input type="submit" id="signIn_form_submit" name="form_submit" class="primary-btn submit-btn" value="Login">
                <!--<a href="dashboard" class="primary-btn submit-btn">SignIn</a>-->
                </div>
            </div>
          </form>
        
        </div>
        </main>
        <!-- Login Main -->
        
        </div>
        <!-- Login Area -->
        
    </div>
    <!-- Site Container -->
    <div class="visible-xs">
    <%- include('./partials/footer') -%>
</div>
</body>

</html>


<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/1.0.11/dist/bootstrap-validate.js"></script>
<script>
    bootstrapValidate('#email', 'email:Enter a valid E-Mail Address!');
</script>
