<%- include('./partials/scripts') -%>

<body>

    <!-- Site Container -->
    <div id="site-container">

        <!-- Dashboard Area -->
        <div class="dashboard-area">

            <!-- Dashboard Header -->
            <%- include('./partials/header') -%>
            <!-- Dashboard Header -->

            <!-- Dashboard Main -->
            <main class="dashboard-main">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dashboard-card transfer-successful-content full-view-card">
                               <div class="wrap">
                                <h1 class="dashboard-card-heading big-heading text-center">Transactions sucessfully uploaded to the blockchain!</h1>
                                <p class="text-center light-font">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Dashboard Main -->



        </div>
        <!-- Dashboard Area -->

    </div>
    <!-- Site Container -->

   

</body>

</html>