/* ==========================================================================
    Global Settings
========================================================================== */

/*
* Boxsizing set to border box http://css-tricks.com/box-sizing/
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #087d8e;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #087d8e;
    color: #fff;
    text-shadow: none;
}

/*
* Body settings, change it as required
*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #5e5f5f;
    background-color: #fff;
    position: relative;
}

body:after {
    font-size: 0;
    left: -100px;
    position: absolute;
}


/*
* Headings
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    margin-top: 0;
    font-weight: 600;
}


/*
Paragraph
*/

p {
    margin-top: 0;
}

/*
Lists
*/

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*
* Links
*/

a {
    color: #087d8e;
    text-decoration: none;
    line-height: inherit;
}

a:focus,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
    color: #35c5ee;
}



/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}



/* ==========================================================================
    Helper classes
========================================================================== */

/*
* Image Alignment
*/

img.alignleft {
    float: left;
    margin: 0 15px 15px 0;
    display: inline;
}

img.alignright {
    float: right;
    margin: 0 0px 15px 15px;
    display: inline;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/*
Alignments
*/

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/*
Container
*/

.container {
    max-width: 1300px;
    width: 100%;
}



/* ==========================================================================
    Custom
========================================================================== */

/*
Nav Dropdown
*/

.nav-dropdown {
    text-align: left;
    z-index: 12;
    opacity: 0;
    position: absolute;
    top: 34px;
    right: 0;
    min-width: 210px;
    padding-top: 21px;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -moz-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: transform 0.7s ease 0s, opacity 0.1s ease 0.3s;
    -moz-transition: transform 0.7s ease 0s, opacity 0.1s ease 0.3s;
    transition: transform 0.7s ease 0s, opacity 0.1s ease 0.3s;
}

.nav-dropdown ul {
    background-color: #fff;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.nav-dropdown ul a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(8, 125, 142, 0.4);
    transition: 350ms;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    position: relative;
    font-size: 15px;
}

.nav-dropdown ul a:hover {
    background-color: #087d8e;
    color: #fff !important;
}

.nav-dropdown li:last-child a {
    border-bottom: none;
}

.has-nav-dropdown:hover .nav-dropdown {
    opacity: 1;
    visibility: visible;
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
    -moz-transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
}

.has-nav-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#menuTrigger {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/*
Forms
*/

.form .form-group {
    margin-bottom: 35px;
    position: relative;
}

.form .form-group .view-btn {
    position: absolute;
    right: 0;
    top: 42px;
    right: -65px;
}

.form .form-group-label {
    font-weight: 500;
    color: #5e5f5f;
    font-size: 14px;
    margin-bottom: 10px;
    margin-bottom: 13px;
    display: block;
}

.form .form-control {
    border: 2px solid #d1d1d1;
    background: #f6f6f6;
    height: 50px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
}

.select2-container { width: 100% !important; }

.form .form-control:focus {
    border-color: #087d8e;
}

.form .submit-btn {
    min-width: 185px;
    margin-top: 10px;
}

.form .form-link {
    font-size: 12px;
    color: #5e5f5f;
    font-weight: 300;
}

.form .form-link:hover {
    color: #087d8e;
    text-decoration: underline;
}

.login-form {
    width: 510px;
    margin-top: 40px;
}

.form-heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-description {
    font-size: 18px;
}

/*
Table
*/

.theme-table {
    width: 100%;
}

.theme-table .has-head-label {
    position: relative;
}

/* .theme-table .has-head-label:before {
    content: "Sender";
    color: #5e5f5f;
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}

.theme-table .has-head-label.to-label:before {
    content: "Receiver";
} */

/*
.theme-table .has-head-label.to-label {
    border-left: 6px solid #fff;
}*/

.theme-table th,
.theme-table td {
    padding: 15px 7px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border: 1px solid #087d8e;
}

.theme-table th {
    background-color: #087d8e;
    color: #fff;
    font-weight: 600;
}


/*
Custom File Upload
*/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    height: 50px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgba(85, 85, 85, 0.7);
    justify-content: space-between;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    border: 2px solid #d1d1d1;
    background-color: #fff;
    padding: 0;
    transition: 350ms;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
}

.inputfile + label:hover {
    border-color: #087d8e;
}

.inputfile + label:hover .file-btn {
    background-color: #087d8e;
}

.inputfile + label .selected-value {
    width: 75%;
    min-height: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.inputfile + label .file-btn {
    height: 100%;
    color: #fff;
    background-color: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    transition: 350ms;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
}

.inputfile + label .file-btn .file-btn-icon {
    margin-right: 10px;
}

.inputfile + label .selected-value,
.inputfile + label .file-btn {
    padding: 0.625rem 1.25rem;
}

/*
Buttons
*/

.primary-btn {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #087d8e;
    font-weight: 500;
    border: 3px solid #087d8e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: 350ms;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    padding: 14px 41px;
    line-height: 1;
    position: relative;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.26);
}

.primary-btn.is-tiny {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.primary-btn.is-ghost-btn {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 2px solid #087d8e;
    color: #087d8e;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.primary-btn.is-small {
    padding: 9px 20px;
    font-size: 16px;
}

.primary-btn.is-ghost-btn.light-btn {
    color: #fff;
    border-color: #fff;
}

.primary-btn.is-ghost-btn:hover,
.primary-btn.is-ghost-btn:focus {
    color: #fff;
    background-color: #087d8e;
}

.primary-btn.is-ghost-btn.light-btn:hover,
.primary-btn.is-ghost-btn.light-btn:focus {
    color: #087d8e;
    background-color: #fff;
}

.primary-btn.is-rounded {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.primary-btn:hover,
.primary-btn:focus {
    color: #fff;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.26);
}

/*
Tab Navigation
*/

.tab-navigation .tab-pane {
    display: none
}

.tab-navigation .tab-pane.active {
    display: block;
}

.tab-navigation .tab-head {
    display: flex;
    border: 2px solid #087d8e;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.tab-navigation .tab-head.has-two-cols {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
}

.tab-navigation .tab-head.has-two-cols li {
    width: 50%;
}

.money-transfer-tabs {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
}

.money-transfer-tabs .tab-head li {
    width: 50%;
}

.tab-navigation .tab-link {
    display: block;
    padding: 10px 20px;
    color: #087d8e;
    text-align: center;
    cursor: pointer;
}

.tab-navigation .tab-link.active {
    color: #fff;
    background-color: #087d8e;
}


/*
Login Area
*/

.login-area {
    display: flex;
    min-height: 100vh;
}

.login-area .login-area-sidebar {
    width: 37%;
    color: #fff;
    padding: 65px 25px 15px;
    background: url(../images/login-sidebar-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.login-area .login-area-sidebar .login-sidebar-footer {
    align-self: flex-end;
    width: 100%;
}

.login-area .login-area-sidebar:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 125, 142, 0.8);
}

.login-area .login-sidebar-footer .sidebar-footer-text {
    color: #fff;
    margin-bottom: 0;

}

.login-area .login-area-main {
    width: 73%;
    padding: 30px 60px 30px 130px;
    position: relative;
    display: flex;
    align-items: center;
}

.login-area .login-area-main .login-main-content {
    margin-top: 80px;
}

.login-area .login-main-header {
    position: absolute;
    right: 45px;
    top: 30px;
}

.login-area .login-main-header .header-text {
    display: inline-block;
    margin-right: 30px;
}

.login-area .login-main-header .primary-btn {
    font-size: 16px;
    border-color: #d7d7d7;
    padding: 12px 44px;
}

.login-area .login-main-header .primary-btn:hover,
.login-area .login-main-header .primary-btn:focus {
    border-color: #087d8e;
}

.login-area .login-sidebar-header,
.login-area .login-sidebar-footer {
    position: relative;
    z-index: 1;
}

.login-area .login-sidebar-heading {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login-area .login-sidebar-text {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

.register-user .login-form .form-group {
    margin-bottom: 25px;
}

/*
Dashboard Area
*/

.dashboard-area {
    background-color: #f7f9fa;
}

.dashboard-area .dashboard-header {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
}

.dashboard-area .dashboard-header a:hover,
.dashboard-area .dashboard-header a:focus {
    opacity: 0.8;
}

.dashboard-area .logo {
    margin-top: 12px;
    font-size: 20px;
}

.dashboard-area #main-navigation {
    margin-top: 15px;
    padding-right: 0;
}

.dashboard-area #main-navigation > ul {
    display: flex;
}

.dashboard-area .user-panel .logout {
    font-weight: 500;
    cursor: pointer;
}

.dashboard-area .user-panel .logout a {
    color: #087d8e !important;
}

.dashboard-area .user-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard-area .user-panel .username strong {
    font-weight: 600;
    margin-right: 5px;
}

.dashboard-area .user-panel .user-panel-item {
    margin-left: 40px;
    color: #087d8e;
    position: relative;
}

.username-wrap {
    position: relative;
}

.username-wrap .int {
    display: inline-block;
    background: #fff;
    right: -1px;
    position: absolute;
    width: 10px;
    top: 1px;
    text-align: right;
}

.username-wrap .int.has-one {
    right: -3px;
    width: 7px;
}

.dashboard-area .user-panel .user-panel-item:first-child {
    margin-left: 0;
}

.dashboard-area .user-panel .notifications {
    cursor: pointer;
    position: relative;
    display: none;
}

.dashboard-area .user-panel .notifications .unread-icon {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #fbabab;
    position: absolute;
    right: -4px;
    top: -1px;
}

.dashboard-area .user-panel .username .user-img {
    margin-left: 15px;
}

/*
Main Navigation
*/

#main-navigation > ul > li > a {
    font-weight: 600;
    display: block;
    padding-left: 27px;
    position: relative;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

#main-navigation > ul > li > a:before {
    position: absolute;
    top: 100%;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

#main-navigation > ul > li > a:hover,
#main-navigation > ul > li > a.active,
#main-navigation > ul > li > a:focus {
    color: #087d8e;
}

#main-navigation > ul > li > a:hover::before,
#main-navigation > ul > li > a.active::before,
#main-navigation > ul > li > a:focus::before {
    color: #087d8e;
    text-shadow: 10px 0 #087d8e, -10px 0 #087d8e;
}

#main-navigation > ul > li {
    margin-left: 60px;
}

#main-navigation > ul > li:first-child {
    margin-left: 15px;
}

.dashboard-header .nav-icon {
    position: absolute;
    left: 0;
    top: 4px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 14px;
    height: 13px;
}

.dashboard-header .dashboard-icon.nav-icon {
    background-image: url(../images/dashboard-icon.svg);
}

.dashboard-header .money-transfer-icon.nav-icon {
    background-image: url(../images/money-transfer-icon.svg);
}

.dashboard-header .admin-icon.nav-icon {
    background-image: url(../images/admin-icon.svg);
}

.dashboard-header .logout-icon.nav-icon {
    background-image: url(../images/logout-icon.svg);
    width: 36px;
    height: 34px;
    left: -11px;
    top: -6px;
}

.dashboard-main {
    padding-top: 30px;
    padding-bottom: 50px;
}

.dashboard-main .dashboard-main-heading,
.dashboard-main .dashboard-main-tagline {
    font-size: 16px;
    color: #087d8e;
}

.dashboard-main .dashboard-main-heading {
    margin-bottom: 5px;
    font-size: 24px;
}

.dashboard-main .dashboard-main-btn {
    position: absolute;
    right: 15px;
    top: 0;
}

/*
Dashboard Card
*/

.dashboard-card {
    background-color: #fff;
    padding: 40px;
    margin-top: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
}

.dashboard-card.full-view-card {
    min-height: calc(100vh - 200px);
}

.dashboard-card-heading {
    font-size: 20px;
    color: #087d8e;
}

.dashboard-card-heading.big-heading {
    font-size: 35px;
}

.transfer-successful-content .wrap {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    left: 50%;
    padding: 30px;
}

.dashboard-card-header {
    position: relative;
    margin-bottom: 30px;
}

.dashboard-card-filter {
    position: absolute;
    right: 0;
    top: -10px;
}

.dashboard-card-filter {
    width: 184px;
    height: 38px;
    font-size: 12px;
    color: #087d8e;
}

.dashboard-card-filter .filter-heading {
    position: absolute;
    left: 27px;
    top: 14px;
    font-weight: normal;
    color: #cacaca;
    margin-bottom: 0;
}

/*
Dashboard Tabs
*/

.dashboard-card-tabs {
    display: flex;
}

.dashboard-card-tabs .tab-item {
    width: 25%;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 12px 12px 12px 55px;
    text-align: right;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.dashboard-card-tabs .tab-item-heading {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 5px;
}

.dashboard-card-tabs .tab-item-val {
    font-size: 21px;
    display: block;
    line-height: 1;
}

.dashboard-card-tabs .tab-item-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}

/*
Selectbox
*/

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #087d8e;
    text-indent: 65px;
    text-transform: capitalize;
}

.select2-container--default .select2-selection--single {
    border: 2px solid #e6e6e6;
    background: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    height: 38px;
    outline: none !important;
    padding-top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #087d8e transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #087d8e transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 5px;
}

.select2-container--default .select2-results > .select2-results__options {
    font-size: 14px;
}

.select2-container--open .select2-dropdown {
    border-color: #e6e6e6;
    text-transform: capitalize;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #087d8e;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #e6e6e6;
    color: #555555;
}

.form .select2-container--default .select2-selection--single {
    height: 50px;
    padding-top: 9px;
}

.form .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-indent: 5px;
    color: #555555;
    opacity: 0.7;
    font-weight: 500;

}

.form .select2-container--default .select2-selection--single {
    border: 2px solid #d1d1d1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #f6f6f6;
}

.form .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 15px;
    right: 10px;
}

/*
Popups
*/

.site-popup {
    display: none;
    background-color: #fff;
    z-index: 10;
    position: fixed;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    max-width: 600px;
    min-height: 100px;
    padding: 50px 20px 20px 20px;
}

.popup-trigger {
    cursor: pointer;
}

.form-popup-heading {
    font-size: 20px;
    font-weight: bold;
    color: #087d8e;
}

.site-popup .site-popup-close {
    background-color: #f2f2f2;
    text-align: center;
    color: #aeb0b1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.site-popup-list li {
    margin-top: 10px;
}

.site-popup-content .custom-scroller {
    max-height: 400px;
}


.site-popup-list strong {
    font-weight: 600;
}

.fs-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
}

/* .viewMorePopup  {
    max-height: 500px;
    overflow-y: scroll;
} */
.popup-text-group {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.popup-text-group:last-child {
    border-bottom: none;
}
.popup-text-group .text-group-heading {
    font-weight: 600;
    color: #087d8e;
}
.popup-text-group .text-group-heading, .popup-text-group .text-group-content {
    margin: 0;
    padding: 15px 0;
    width: 50%;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 15px;
}

/*
Custom Scroller
*/

.scrollbar-inner > .scroll-element .scroll-element_track {
    background: rgba(8,125,142,0.3);
    opacity: 1;
}

.scrollbar-inner > .scroll-element .scroll-bar {
    opacity: 1;
    background: #087d8e;
}

.scrollbar-inner > .scroll-element:hover .scroll-bar {
    opacity: 0.9;
    background-color: #ccc;
}

.scrollbar-inner.scroll-content {
    padding-right: 20px;
}


/*
Site Accordion
*/

.accordion-block-content {
    margin-top: -10px;
    font-weight: 300;
}

.accordion-block-heading {
    cursor: pointer;
    position: relative;
    padding: 15px 15px 15px 0;
    font-size: 18px;
    margin-bottom: 0;
    color: #087d8e;
    transition: 350ms;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    width: 100%;
    max-width: 100% !important;
}

.accordion-block-heading:after {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    background: url(../images/caret-down.svg) no-repeat;
    background-size: 100%;
    width: 18px;
    height: 15px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
}

.accordion-block-heading.active:after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
}

.card-list-accordion .card-list-text,
.card-list-accordion .card-list-date {
    color: rgba(122, 122, 122, 0.45);
    font-size: 12px;
}

.card-list-accordion .accordion-block-heading:after {
    top: 12px;
    right: -15px;
}

.card-list-accordion .accordion-block-heading {
    padding-bottom: 0;
}

.card-list-accordion.dashboard-card-list .card-list-date {
    right: 25px;
    top: 15px;
}

.card-list-accordion .accordion-block-content li {
    padding: 10px 10px 10px 47px;
    font-size: 15px;
    color: #595959;
}

.card-list-accordion .accordion-block-content {
    margin-top: 15px;
}

.card-list-accordion .hash-wrap {
    max-width: 100%;
}

.card-list-accordion .accordion-block:first-child {
    padding-top: 0;
}


/*
Dashboard Cards List 
*/

.dashboard-card-list li {
    position: relative;
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
    color: rgba(122, 122, 122, 0.45);
    font-size: 12px;
}

.dashboard-card .card-filter-list {
    position: absolute;
    right: -20px;
    top: 0;
}

.card-filter-list .dashboard-card-filter .filter-heading {
    left: 18px;
}

.dashboard-card .card-filter-list .dashboard-card-filter {
    position: relative;
    width: 140px;
}

.sort-by-filter {
    width: 100px;
}

.dashboard-card-list li:last-child {
    border-bottom: none;
}

.dashboard-card-list .card-list-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding-top: 4px;
    position: absolute;
    left: -15px;
    top: 15px;
    background-color: #087d8e;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
}

.dashboard-card-list .card-list-date {
    position: absolute;
    right: 0;
    top: 25px;
}

.dashboard-card-list .card-list-content {
    padding-left: 45px;
}

.dashboard-card-list .card-list-text {
    margin-bottom: 0;
    word-wrap: break-word;
    word-break: break-all;
}

.dashboard-card-list .card-list-heading {
    font-size: 16px;
    font-weight: 500;
    color: #087d8e;
    margin-bottom: 8px;
}

.dashboard-card-list.theme2 li {
    color: #087d8e;
    font-size: 18px;
}

.dashboard-card-list.theme2 .card-list-date {
    color: rgba(122, 122, 122, 0.45);
    font-size: 14px;
    position: static;
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    background: url(../images/clock-icon.jpg) no-repeat left center;
}

.dashboard-card-list.theme2 .card-list-icon {
    width: 28px;
    height: 28px;
    top: 24px;
}

.dashboard-card-list .card-list-icon.has-bg {
    background-color: transparent !important;
    left: 0;
}

.dashboard-card-list .card-list-item {
    padding-right: 40px;
}

.dashboard-card-alerts {
    padding-left: 0;
}

.dashboard-card-list .info-alert-icon {
    background-image: url(../images/info-alert-icon.svg);
}

.dashboard-card-list .error-icon {
    background-image: url(../images/error-alert-icon.svg);
}

.dashboard-card-list .success-icon {
    background-image: url(../images/success-icon.svg);
}



/*
Useful Generic Classes
*/

.transition {
    transition: 350ms ease-in-out;
    -webkit-transition: 350ms ease-in-out;
    -moz-transition: 350ms ease-in-out;
}

.pointer {
    cursor: pointer;
}
.capitalize {
    text-transform: capitalize;
}
.marT40 {
    margin-top: 40px;
}

.marT50 {
    margin-top: 50px;
}

.marT30 {
    margin-top: 30px;
}

.marB10 {
    margin-bottom: 10px;
}

.padB0 {
    padding-bottom: 0 !important;
}

.padding-none {
    padding: 0 !important;
}

.padBT40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padL0 {
    padding-left: 0 !important;
}

.bold-font {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.static {
    position: static;
}

.uppercase {
    text-transform: uppercase;
}

.rounded {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.centered {
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.inline-block {
    display: inline-block;
}

.block-element {
    display: block;
}

.relative-element {
    position: relative;
}

.full-width {
    width: 100%;
}

.fs-14 {
    font-size: 14px;
}

.light-font {
    font-weight: 300;
}

.hash-wrap {
    max-width: 200px;
    word-break: break-all;
    word-wrap: break-word;
}

.list-items-limiter .toggle-item .show-less {
    display: none;
}

.list-items-limiter .toggle-item.active .show-more {
    display: none;
}

.list-items-limiter .toggle-item.active .show-less {
    display: inline;
}

.list-items-limiter .toggle-item {
    cursor: pointer;
}


/*
Footer
*/

#footer {
    background: #087d8e;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
}

#footer .copyright-text {
    margin: 0;
}

#footer a { color: #fff; }

/* Media Queries */

@media (min-width: 1600px) {
    .login-area .login-area-main {
        justify-content: center;
    }
}

@media (min-width: 991px) {
    .dashboard-header .nav-dropdown {
        display: block !important;
    }
    .dashboard-card-tabs .tab-item:last-child {
        margin-right: 0;
    }
    #main-navigation {
        display: block !important;
    }
}

@media ( max-width: 1199px) {

    .padL0-md {
        padding-left: 0;
    }

    #main-navigation > ul > li {
        margin-left: 25px;
    }

    .dashboard-area .user-panel .user-panel-item {
        margin-right: 21px;
        margin-left: 0;
        font-size: 15px;
    }

    .dashboard-area .user-panel .user-panel-item.username {
        text-transform: capitalize;
    }

    #main-navigation > ul > li:first-child {
        margin-left: 10px;
    }

    #main-navigation > ul > li a {
        font-size: 15px;
    }
}

@media (max-width: 991px) {

    .text-right-sm {
        text-align: right;
    }
    .login-area .login-area-main {
        padding: 30px 25px 30px 35px;
    }
    .login-form {
        width: 400px;
    }
    .login-area .login-main-header .header-text {
        margin-right: 10px;
    }
    .login-area .login-main-header {
        right: 15px;
    }
    .login-area .login-main-header .primary-btn {
        padding-left: 20px;
        padding-right: 20px;
    }
    .login-area .login-area-sidebar {
        padding: 50px 30px;
    }
    .dashboard-area .dashboard-header {
        padding: 15px 0;
    }

    .dashboard-card-tabs {
        flex-wrap: wrap;
    }

    .dashboard-card-tabs .tab-item {
        width: calc(50% - 20px);
    }

    .dashboard-card-tabs .tab-item:nth-child(even) {
        margin-right: 0;
    }
    #main-navigation {
        display: none;
        position: absolute;
        top: 65px;
        right: 0;
        width: 220px;
        background: #fff;
        z-index: 999;
        padding: 0 !important;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    }

    #main-navigation > ul {
        display: block !important;
        margin-left: 0;
    }

    #main-navigation > ul > li {
        margin: 0 !important;
        display: block;
        padding: 15px;
        border-bottom: 1px solid rgba(8, 125, 142, 0.2);
    }

    #main-navigation > ul > li:last-child {
        margin-bottom: 0;

    }

    #main-navigation li a:before {
        display: none;
    }
    .dashboard-area .user-panel .user-panel-item {
        margin: 0;
    }

}

@media (max-width: 767px) {
    .marT20-xs {
        margin-top: 20px;
    }
    .text-left-xs {
        text-align: left;
    }
    #main-navigation {
        top: 41px;
    }
    .dashboard-card-tabs .tab-item {
        width: 100%;
        margin-right: 0 !important;
    }
    .login-form {
        width: 100%;
    }
    .login-area .login-area-main {
        display: block;
        width: 100%;
        padding: 30px 15px;
    }
    .login-area .login-area-main .login-main-content {
        margin-top: 50px;
    }
    .login-area .login-main-header {
        position: static;
        text-align: center;
    }
    .login-area .login-main-header .header-text {
        margin-right: 0;
    }
    .login-area .login-main-header .primary-btn {
        padding: 10px 35px;
    }
    .form .submit-btn {
        width: 100%;
    }
    .form-heading {
        font-size: 24px;
    }
    .form .form-control {
        height: 46px;
    }
    .dashboard-area .dashboard-header .nav-dropdown {
        top: 15px;
    }
    .dashboard-area .user-panel {
        margin-top: 7px;
    }

    .dashboard-area .logo {
        margin: 0;
    }

    .dashboard-card {
        padding: 30px 15px;
    }
    .dashboard-card-list .card-list-icon {
        left: 0;
    }

    .inputfile + label .selected-value {
        width: 68%;
        font-size: 13px;
    }
    .inputfile + label .file-btn {
        width: 32%;
    }

    .theme-table-wrapper {
        width: 100%;
        overflow-x: scroll;
    }
    .responsive-table thead {
        display: none;
    }
    .responsive-table tbody tr td {
        display: block;
        text-align: center;
        border: none;
        font-weight: 600;
        font-size: 18px;
        position: relative;
        padding-left: 30px;
    }

    .responsive-table tbody tr {
        display: block;
        padding: 20px 0;
        border-bottom: 3px solid #087d8e;
    }

    .responsive-table tbody tr:last-child {
        border-bottom: none;
    }

    /* .responsive-table .has-cell-label:after {
        content: "Sender";
        position: absolute;
        left: 15px;
        top: 30px;
        font-size: 17px;
    }
    .responsive-table .has-cell-label.to-label:after {
        content: "Receiver";
        top: 90px;
    } */

    /* .responsive-table .has-cell-label.to-label {
        padding-top: 90px;
        background: url(../images/arrow-down.svg) no-repeat;
        background-size: 15%;
        background-position: calc(50% - -10px) 13px;
    } */
    .responsive-table tbody tr td:before {
        content: attr(data-label);
        font-weight: 300;
        display: block;
        font-size: 14px;
        text-transform: capitalize
    }

    .transfer-successful-content .wrap {
        position: static;
        padding: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }

    .dashboard-card .card-filter-list {
        position: static;
        margin-top: 20px;
    }

    .dashboard-card-filter {
        position: relative;
        margin-top: 30px;
    }

    .card-list-accordion .card-list-icon {
        display: none;
    }
    .card-list-accordion .card-list-content {
        padding-left: 0;
    }
    
    .card-list-accordion .accordion-block-heading::after {
        right: 0;
    }
    .card-list-accordion .accordion-block-content li {
        padding: 15px;
    }

    .card-list-accordion .accordion-block-content strong,
    .card-list-accordion .accordion-block-content span {
        display: block;
        width: 100%;
    }
}
